test
{{#get "posts" limit="5" order="published_at desc"}}
  <ul class="posts-list list-dividers">
    {{#foreach posts}}
      <li class="entry-li">
        <article class="post-small clearfix">
          <div class="entry-img">
            <a href="{{url}}">
              <img src="{{img_url feature_image}}" alt="">
            </a>
          </div>
          <div class="entry">
            <h3 class="entry-title"><a href="magazine-single-article.html">{{title}}</a></h3>
            <ul class="entry-meta list-inline">
              <li class="entry-date">
                <a href="{{url}}">{{date published_at format="MMMM DD, YYYY"}}</a>
              </li>
            </ul>
          </div>
        </article>
      </li>
    {{/foreach}}
  </ul>
{{/get}}
