{{!< default }}

{{! Single page docs: https://themes.ghost.org/docs/post }}
{{#post}}
<!-- Content -->
<section class="content post-single pt-70 pt-mdm-60">
  <div class="container relative">
    <div class="row">
      <!-- post content -->
      <div class="col-md-9 post-content mb-50">
        <!-- large post -->
        <article class="entry-item large-post">
          <div class="entry-header">
						{{#primary_tag}}
								<a href="{{url}}" class="entry-category">{{name}}</a>
						{{/primary_tag}}
            <h1 class="entry-title">{{title}}</h1>
          </div>
          <div class="entry-img">
            <img src="{{img_url feature_image}}" alt="">
          </div>
          <div class="entry-wrap">
            <div class="entry">
              <div class="entry-content">
                <div class="article">
									{{content}}
                </div>

                <!-- tags -->
                <div class="entry-tags tags mb-50 mt-40 clearfix">
									{{#foreach tags}}
							      <li>
							        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
							      </li>
							    {{/foreach}}
                </div>

                <div class="entry-meta-wrap clearfix">
                  <ul class="entry-meta">
                    <li class="entry-date">
                      <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
                    </li>
                    <li class="entry-comments">
                      <a href="blog-single.html">2 Comments</a>
                    </li>
                  </ul>
                  <div class="social-icons right share">
										<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="social-share"><i class="fa fa-facebook"></i></a>
										<a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" class="social-share"><i class="fa fa-twitter"></i></a>
										<a href="https://plus.google.com/share?url={{url absolute="true"}}" class="social-share"><i class="fa fa-google"></i></a>
                  </div>
                </div>
                <!-- entry author -->
                <div class="entry-author-box clearfix">
									{{#author}}
                  <img src="{{profile_image}}" class="author-img" alt="img">
                  <div class="author-info">
                    <h6 class="author-name"><a href="{{url}}">{{name}}</a></h6>
                    <p class="mb-0">{{bio}}
                    </p>
                  </div>
									{{/author}}
                </div>
                <!-- related posts -->
                {{> related-loop}}

								<section class="comments">
									<div id="disqus_thread"></div>
								</section>
              </div>
            </div>
          </div>
        </article> <!-- end large post -->
      </div> <!-- end col -->

			{{> sidebar}}
    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end content -->
{{/post}}

{{#contentFor "scripts"}}
<script src="{{asset "js/vendor/reframe.min.js"}}"></script>
<script>
	(function() {
		'use strict';

		// Responsive Embeds
		var selectors = [
			'iframe[src*="player.vimeo.com"]',
			'iframe[src*="youtube.com"]',
			'iframe[src*="youtube-nocookie.com"]',
			'iframe[src*="kickstarter.com"][src*="video.html"]',
			'object',
			'embed'
		];

		selectors.forEach(function(selector) {
			reframe(selector);
		});

		// Sharing Links
		var shareLinks = document.getElementsByClassName('social-share');
		var left = (screen.width - 570) / 2;
		var top = (screen.height - 570) / 2;
		var params = 'menubar=no,toolbar=no,status=no,width=570,height=570,top=' + top + ',left=' + left;

		for(var i = 0, len = shareLinks.length; i < len; i++) {
			shareLinks[i].addEventListener('click', function(e) {
				e.preventDefault();
				window.open(this.href, '_blank', params);
			}, false);
		}

		// Disqus Comments
		var disqus_config = function () {
			this.page.url = '{{url absolute="true"}}';
			this.page.identifier = 'ghost-{{comment_id}}';
		};

		var d = document, s = d.createElement('script');
		s.src = 'https://wellprodubai.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
{{/contentFor}}
